<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>页面详情</title>
        <link rel="stylesheet" href="{{ assert(path='admin/component/pear/css/pear.css') | safe }}" />
    </head>
    <body class="pear-container">
        <div class="table-responsive">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col>
                </colgroup>
          
                <thead>
                    <tr>
                        <td>名称</td>
                        <td>内容</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ data.id }} </td>
                    </tr>
                    <tr>
                        <td>标题</td>
                        <td>{{ data.title }}</td>
                    </tr>
                    <tr>
                        <td>标识</td>
                        <td>{{ data.slug }}</td>
                    </tr>
                    <tr>
                        <td>关键字</td>
                        <td>{{ data.keywords }}</td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td>{{ data.description }}</td>
                    </tr>

                    <tr>
                        <td>使用模板</td>
                        <td>{{ data.tpl }}</td>
                    </tr>
                
                    <tr>
                        <td>添加账号</td>
                        <td>{{ user.username | default(value="-" )}} [{{ data.user_id }}]</td>
                    </tr>

                    <tr>
                        <td>状态</td>
                        <td>
                            {% if data.status == 1 %}
                                <span class="layui-badge-dot layui-bg-green"></span>
                                <span class="text-green">启用</span>
                            {% else %}
                                <span class="layui-badge-dot layui-bg-orange"></span>
                                <span class="text-orange">禁用</span>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>添加时间</td>
                        <td>
                            {{ data.add_time | date(format="%Y-%m-%d %H:%M:%S", timezone="Asia/Shanghai") }}
                        </td>
                    </tr>
                    <tr>
                        <td>添加IP</td>
                        <td>
                            {{ data.add_ip }}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>     
        
    </body>
</html>