<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>附件详情</title>
        <link rel="stylesheet" href="{{ assert(path='admin/component/pear/css/pear.css') | safe }}" />
    </head>
    <body class="pear-container">
        <div class="table-responsive">
            <table class="layui-table">
                <colgroup>
                    <col width="200">
                    <col>
                </colgroup>
          
                <thead>
                    <tr>
                        <td>名称</td>
                        <td>内容</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ data.id }} </td>
                    </tr>
                    <tr>
                        <td>文件名称</td>
                        <td>{{ data.name }}</td>
                    </tr>
                    <tr>
                        <td>存储路径</td>
                        <td>{{ data.path }}</td>
                    </tr>
                    <tr>
                        <td>后缀</td>
                        <td>{{ data.ext }}</td>
                    </tr>
                    <tr>
                        <td>大小</td>
                        <td>{{ format_size(size=data.size) }}</td>
                    </tr>
                    <tr>
                        <td>HASH值</td>
                        <td>{{ data.md5 }}</td>
                    </tr>

                    {% if data.type == 2 %}
                    <tr>
                        <td>预览</td>
                        <td>
                            <img src="{{ upload_url(path=data.path) | safe }}" width="115px" alt="{{ data.name }}">
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td>状态</td>
                        <td>
                            {% if data.status == 1 %}
                                <span class="layui-badge-dot layui-bg-green"></span>
                                <span class="text-green">启用</span>
                            {% else %}
                                <span class="layui-badge-dot layui-bg-orange"></span>
                                <span class="text-orange">禁用</span>
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>上传时间</td>
                        <td>
                            {{ data.add_time | date(format="%Y-%m-%d %H:%M:%S", timezone="Asia/Shanghai") }}
                        </td>
                    </tr>
                    <tr>
                        <td>上传IP</td>
                        <td>
                            {{ data.add_ip }}
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        
    </body>
</html>