<script>
var menus = [
	{
		"id": 0,
		"title": "控制台",
		"icon": "layui-icon layui-icon-console",
		"type": 1,
		"openType": "_iframe",
		"href": "{{ url_for(name='admin.index-console') | safe }}"
	},
	{
		"id": "arts",
		"title": "文章管理",
		"icon": "layui-icon layui-icon-app",
		"type": 0,
		"href": "",
		"children": [
			{
				"id": "art",
				"title": "文章列表",
				"icon": "layui-icon layui-icon-face-smile",
				"type": 1,
				"openType": "_iframe",
				"href": "{{ url_for(name='admin.art-index') | safe }}"
			},
			{
				"id": "cate",
				"title": "分类管理",
				"icon": "layui-icon layui-icon-file",
				"type": 1,
				"openType": "_iframe",
				"href": "{{ url_for(name='admin.cate-index') | safe }}"
			},
			{
				"id": "comment",
				"title": "评论管理",
				"icon": "layui-icon layui-icon-file",
				"type": 1,
				"openType": "_iframe",
				"href": "{{ url_for(name='admin.comment-index') | safe }}"
			},
			{
				"id": "tag",
				"title": "标签管理",
				"icon": "layui-icon layui-icon-file",
				"type": 1,
				"openType": "_iframe",
				"href": "{{ url_for(name='admin.tag-index') | safe }}"
			}
		]
	},
	{
		"id": "page",
		"title": "页面管理",
		"icon": "layui-icon layui-icon-star",
		"type": 1,
		"openType": "_iframe",
		"href": "{{ url_for(name='admin.page-index') | safe }}"
	},
	{
		"id": "guestbook",
		"title": "留言管理",
		"icon": "icon pear-icon pear-icon-complete",
		"type": 1,
		"openType": "_iframe",
		"href": "{{ url_for(name='admin.guestbook-index') | safe }}"
	},
	{
		"id": "system",
		"title": "系统管理",
		"icon": "layui-icon layui-icon-set-fill",
		"type": 0,
		"href": "",
		"children": [
			{
				"id": "user",
				"title": "用户管理",
				"icon": "layui-icon layui-icon-user",
				"type": 1,
				"openType": "_iframe",
				"href": "{{ url_for(name='admin.user-index') | safe }}"
			},
			{
				"id": "attach",
				"title": "附件管理",
				"icon": "layui-icon layui-icon-file",
				"type": 1,
				"openType": "_iframe",
				"href": "{{ url_for(name='admin.attach-index') | safe }}"
			}
		]
	},
	{
		"id": "setting",
		"title": "网站设置",
		"icon": "layui-icon layui-icon-auz",
		"type": 1,
		"openType": "_iframe",
		"href": "{{ url_for(name='admin.setting-index') | safe }}"
	}
];
</script>