<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>更改密码</title>
        <link rel="stylesheet" href="{{ assert(path='admin/component/pear/css/pear.css') | safe }}" />
    </head>

    <body class="pear-container">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">更改密码</div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">旧密码</label>
                            <div class="layui-input-block">
                                <input type="password"  name="old_password" lay-verify="title" autocomplete="off" placeholder="请输入旧密码" class="layui-input">
                            </div>
                        </div>
        
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-block">
                                <input type="password"  name="new_password" lay-verify="title" autocomplete="off" placeholder="请输入新密码" class="layui-input">
                            </div>
                        </div>
        
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password"  name="new_password2" lay-verify="title" autocomplete="off" placeholder="请输入确认密码" class="layui-input">
                            </div>
                        </div>
        
                        <div class="layui-form-item">
                            <label class="layui-form-label">&nbsp;</label>
                            <div class="layui-input-block">
                                <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="user-save">
                                    <i class="layui-icon layui-icon-ok"></i>
                                    提交
                                </button>
                                <button type="reset" class="pear-btn pear-btn-sm">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="{{ assert(path='admin/component/layui/layui.js') | safe }}"></script>
        <script src="{{ assert(path='admin/component/pear/pear.js') | safe }}"></script>
        <script src="{{ assert(path='admin/component/nako/md5.js') | safe }}"></script>
        <script>
        layui.use(['form','jquery'],function(){
            let form = layui.form;
            let $ = layui.jquery;
    
            form.on('submit(user-save)', function(data) {
                if (data.field.old_password != "") {
                    data.field.old_password = hex_md5(data.field.old_password);
                }              
                if (data.field.new_password != "") {
                    data.field.new_password = hex_md5(data.field.new_password);
                }              
                if (data.field.new_password2 != "") {
                    data.field.new_password2 = hex_md5(data.field.new_password2);
                }
    
                $.ajax({
                    url: "{{ url_for(name='admin.profile-password') | safe }}",
                    data: data.field,
                    dataType:'json',
                    type:'post',
                    success:function(result) {
                        if (result.code == 0) {
                            layer.msg(result.message, {icon:1,time:1000}, function() {
                                location.reload();
                            });
                        } else {
                            layer.msg(result.message, {icon:2,time:1000});
                        }
                    }
                })
                return false;
            });
        })
        </script>
    </body>
   
</html>